@font-face {font-family: tempestiva; font-weight: normal; font-style: normal; src:url("Tempestiva-Regular.otf");}
@font-face {font-family: tempestiva; font-weight: normal; font-style: italic; src:url("Tempestiva-Italic.otf");}
@font-face {font-family: tempestivasc; font-weight: normal; font-style: normal; src:url("TempestivaSC-Regular.otf");}

body {
    margin: 5%;
    text-align: justify;
    font-family: tempestiva, Tempestiva;
    widows: 2;
    orphans: 2;
    }

ol {
    font-family: tempestiva, Tempestiva;
    }

ul {
    font-family: tempestiva, Tempestiva;
    list-style-type: disc;
    }

ul ul {
    list-style-type: circle;
    font-family: tempestiva, Tempestiva;
    }

pre {
    line-height: 110%;
    white-space: pre-wrap;
    text-align: left;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    }

code {
    font-family: monospace;
    }

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    page-break-after: avoid;
    }

h1 {
    font-size: 130%;
    }

h2 {
    page-break-before: avoid;
    margin: 5% 0%;
    text-align: left;
    font-size: 110%;
    }

.part > .level2 > h2 {
    text-align: center;
    margin: 0% 0%;
    padding: 10% 0%;
    font-size: 120%;
    page-break-before: always;
    }

h3 {
    margin: 5% 0%;
    text-align: left;
    font-size: 110%;
    }

h4 {
    margin: 4% 5%;
    text-align: left;
    font-size: 105%;
    }

h5 {
    margin: 4% 10%;
    text-align: left;
    font-size: 100%;
    }

h1 {
    margin: 10% 0%;
    }

a.footnoteRef {
    line-height: normal;
    vertical-align: text-top;
    font-size: 75%;
    }

h1.title, h1.subtitle {
    font-style: italic;
    text-align: center;
    padding: 0% 0%;
    font-weight: normal;
    line-height: normal;
    }

h1.title {
    font-size: 200%;
    margin: 0% 5%;
    padding-top: 20%;
    }

h1.subtitle {
    font-size: 125%;
    margin: 0% 25%;
    margin-top: 2.5%;
    }

h2.author {
    padding:0pt;
    margin: 0pt;
    margin-top: 10%;
    font-size: 115%;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-family: tempestivasc, "Tempestiva SC";
    page-break-before: avoid;
    }

p.date {
    margin-top: 25%;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    text-indent: 0%;
    margin-bottom: 0%;
    }

p.publisher {
    margin-bottom: 0%;
    margin-top: 15%;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    text-indent: 0%;
    }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p {
    text-indent: 0%;
    }

p {
    line-height: 130%;
    -epub-hyphens: auto;
    hyphens: auto;
    -epub-word-break: normal;
    -word-break: normal;
    margin: 0% 0% 2% 0%;
    text-indent: 5%;
    text-align: justify;
    }

.footnotes li {
    margin: 0% 0% 5% 0%;
    }

li p, blockquote > p {
    text-indent: 0%;
    }

a {
    border: 1px solid #aaaaaa;
    }

a, a.footnoteRef, a:link, a:visited, a:hover, a:active {
    background-color: transparent !important;
    text-decoration: none;
    color: black;
    }

h1 em, h2 em, h3 em, h4 em, em em {
    font-style: normal;
    }

strong {
    font-family: sans-serif;
    font-weight: normal;
    }

.footnotes p {
    line-height: 120%;
    text-align: justify;
    }

#cover-image, #cover-image img {
    width: 100%;
    margin: 0%;
    padding: 0%;
    }

.dedication, #dedication {
    padding-top: 15%;
    margin-right: 5%;
    margin-left: 25%;
    }

.dedication p, #dedication p {
    margin: 0%;
    padding: 0%;
    margin-top: 10%;
    line-height: 120%;
    text-align: right;
    font-style: italic;
    text-indent: 0%;
    }

.epigraph, #epigraph {
    padding-top: 25%;
    margin-right: 5%;
    margin-left: 37.5%;
    }

.epigraph p, #epigraph p {
    margin: 0%;
    padding: 0%;
    margin-top: 10%;
    line-height: 120%;
    text-align: right;
    text-indent: 0%;
    }

.colophon, #colophon {
    padding-top: 40%;
    margin-left: 10%;
    width: 80%;
    line-height: 115%;
    text-align: justify;
    font-size: 95%;
    text-indent: 0%;
    }

.colophon p, #colophon p {
    text-indent: 0%;
    padding-top: 0%;
    text-align: center;
    }

.colophon h1, #colophon h1 {
    margin: 0%;
    padding: 0%;
    }

.copyright, #copyright, .rights {
    line-height: 120%;
    text-align: justify;
    font-size: 95%;
    text-indent: 0%;
    padding-top: 1%;
    }

.copyright p, #copyright p, .rights p {
    text-indent: 0%;
    padding-top: 0%;
    }

.signature-date p {
    text-align: right;
    text-indent: 0%;
    margin-top: 4%;
    }

ol.toc li{
    list-style-type: none;
    margin-top: 1%;
    }

p.rights, .hidden>h1 {
    visibility: hidden;
    margin: 0%;
    padding: 0%;
    font-size: 0pt;
    }

.uri a, a.uri, a.email {
    font-family: monospace;
    }

.footnotes hr {
    visibility: hidden;
    margin: 0%;
    padding: 0%;
    border: none;
    }

.rights, .footnotes > ol > li {
    page-break-before: always;
    padding-top: 5%;
    }

.smcp, .author {
    font-family: tempestivasc, "Tempestiva SC";
    }

h1, h2, h3, h4, h5, h6, code, .uri a, a.uri, a.email, .signature-date > p {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    }

.part > h1 {
    margin-top: 50%;
    font-family: tempestiva, Tempestiva;
    font-style: normal;
    }

.tex-logo sub {
    text-transform: uppercase;
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
    line-height: normal;
    vertical-align: text-bottom;
}

.tex-logo sup {
    text-transform: uppercase;
    font-size: 75%;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
    line-height: normal;
    vertical-align: text-top;
}
